Repository pi-hole/pi-hole, pull requests merged in 2023-12, with the labels that each got.

#5499 Support special webserver.port ports ending in "s" (secure) and "r" (redirect)
  advanced/Scripts/api.sh
  advanced/Scripts/query.sh
Labels: Pi-hole v6.0

#5509 Treat FTL return data as strings
  advanced/Scripts/api.sh
  advanced/Scripts/query.sh
  test/test_any_automated_install.py
Labels: Pi-hole v6.0

#5516 Bash completion
  advanced/Scripts/version.sh
  advanced/bash-completion/pihole
  automated install/basic-install.sh
Labels: Pi-hole v6.0

#5514 Remove obsolete sudo file
  advanced/Templates/pihole.sudo
  test/test_any_automated_install.py
Labels: Pi-hole v6.0

#5517 Simplify pihole -v
  advanced/Scripts/version.sh
  advanced/bash-completion/pihole
  pihole
Labels: Pi-hole v6.0

#5518 Add "-ni" to all sqlite3 invocations
  advanced/Scripts/database_migration/gravity-db.sh
  advanced/Scripts/list.sh
  advanced/Scripts/piholeARPTable.sh
  advanced/Scripts/piholeDebug.sh
  advanced/Scripts/piholeLogFlush.sh
  gravity.sh
Labels: Bug: fixed, Pi-hole v6.0

#5519 Add "-ni" to all sqlite3 invocations (v5)
  advanced/Scripts/database_migration/gravity-db.sh
  advanced/Scripts/list.sh
  advanced/Scripts/piholeARPTable.sh
  advanced/Scripts/piholeDebug.sh
  advanced/Scripts/piholeLogFlush.sh
  advanced/Scripts/query.sh
  advanced/Scripts/webpage.sh
  gravity.sh
  test/test_any_automated_install.py
Labels: Bug: fixed
